body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,html{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.logo_top{
  width: 150px;
}
.row{
  width: 100%;
}
.navbar_home{
  border-bottom: 3px solid #640000;
}
.navbar_home ul li .nav-link{
  color: #ff3535;
}
.navbar_home .activo .nav-link{
  color: #ff7937;
}
.navbar_home .item2 .nav-link{
  color: #feb501;
}
.navbar_home ul li .nav-link:hover{
  color: #ff7937;
}
.navbar_exp{
  background: #bbbcbe;
}
.navbar_exp .navbar-nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar_exp .collapse a{
  color: #000;
}
.navbar_exp .collapse li{
  border-right: 1px solid #000;
  padding: 0 15px;
}
.navbar_exp .collapse a:hover{
  color: #484848;
}
.navbar_exp .collapse li:last-child{
  border-right: none;
}
.carousel-control-next-icon{
  background-image: url('img/right.png');
}
.carousel-control-prev-icon{
  background-image: url('img/left.png');
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  display: inline-block;
  width: 50%;
  height: 10%;
}
.carousel-control-prev, .carousel-control-next{
  width: 10%;
}
.nav_bar{
  background: black;
}
.nav_bar .lineas{
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background: white;
}
.nav_bar .lineas:first-child{
  margin-top: 5px;
}
.section2 .reportes{
  padding: 50px 0;
}
.section2 .reportes h3{
  font-size: 48px;
  margin-bottom: 20px;
}
.section2 .reportes h3 span{
  font-size: 52px;
  color: #df3dff;
}
.section2 .reportes button{
  cursor: pointer;
  padding: 25px 100px;
  background: #ff3b3c;
  color: #fee42b;
  font-size: 48px;
  border: none;
}
.section3{
  padding: 0 15px;
}
.section3 .container-fluid{
  background-image: url('img/Inicio-fondo-login.jpg');
  background-position: center top;
  background-size: contain contain;
  background-repeat: no-repeat;
  padding: 5% 15%;
  color: white;
  align-items: center;
}
.section3 .content{
  width: 40%;
}
.section4 .content{
  width: 40%;
}
.section3 form{
  display: flex;
  flex-direction: column;
}
.section3 form input[type="text"],
.section3 form input[type="password"]{
  padding: 10px 5px;
  margin: 2px 0;
}
.section3 form input[type="submit"]{
  margin-top: 20px;
  padding: 10px 0;
  background: #ff3b3c;
  border: none;
  color: white;
}
.section3 h3{
  font-size: 48px;
}
.section3 p{
  font-size: 32px;
}
.section4{
  background-color: #ff9400;
  padding: 5% 15%;
  color: white;
}
.section4 .title{
  color: #ff0026;
  margin-bottom: 5%;
  font-size: 52px;
}
.section4 .row{
  padding: 0 15px;
}
.section4 .content h3{
  font-size: 48px;
}
.section4 .content form{
  display: flex;
  flex-direction: column;
}
.section4 input{
  margin-bottom: 5px;
  padding: 10px 5px;
}
.section4 input[type="submit"]{
  background-color: #ff0c3a;
  border: none;
  color: white;
  padding: 10px;
}
.section5{
  padding: 20px;
}
.section5 .row{
  background-image: url('img/Inicio-fondo-form.jpg');
  background-size: contain contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 5% 15%;
}
.section5 span{
  color: red;
}
.section5 p{
  font-size: 48px;
}
.section5 form{
  display: flex;
  flex-direction: column;
}
.section5 form .content_foto{
  background-color: #fff0f1;
  text-align: center;
  padding: 20px 0;
}
.section5 form .foto{
  width: 250px;
}
.section5 form .foto img{
  opacity: 0.3;
}
.section5 form input,
.section5 form select{
  padding: 5px 5px;
  border: none;
  margin: 1px 0;
}
.section5 form .texto{
  background-color: red;
}
.section5 form .texto::placeholder{
  color: white;
}
.section5 form input[type="submit"]{
  margin-top: 5px;
  background-color: red;
  color: white;
}
.footer_exp{
  color: white;
  border-bottom: 50px solid #000;
}
footer .fondo{
  padding-top: 20px;
  padding-bottom: 50px;
  border-top: 20px solid #ff8182;
  background-color: #aa2c2d;
  color: #fff;
}
footer .fondo .contenido{
  padding: 20px 0;
  background-color: black;
}
footer .contenido ul{
  list-style: none;
}
footer .fondo .contenido ul li a,
.footer_exp .contenido ul li a{
  color: white;
}
footer .fondo .redes a,
.footer_exp .redes a{
  color: #33383b;
  font-size: 48px;
}
footer .fondo .redes a:hover,
.footer_exp .redes a:hover{
  color: #5e5f5f;
}
footer .fondo .redes a,
.footer_exp .redes a{
  background-image: url('img/white.PNG');
  background-size: 100% 87%;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer_exp{
  background-color: #6f6f6f;
  border-top: 5px solid white;
}

.section_exp1{
  background: #FFF8ED;
  color: #000;
}
.mid, .mid_2{
  max-height: 500px;
}
.section_exp1 .mid{
  width: 90%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
}
.section_exp1 .row{
  width: 90%;
  margin: auto;
}
.col_2{
  background-color: white;
}
.mid_2{
  width: 90%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
  direction:rtl;
}
.section_exp1 .top{
  width: 100%;
  background-color: orange;
  color: white;
  padding: 20px 3%;
}
.section_exp1 .mid .letras{
  margin-left: 5%;
  padding-left: 50px;
}
.section_exp1 .mid_2 .letras{
  margin-right: 5%;
}
.section_exp1 .mid_2{
  text-align: right;
}
.mid1_1,.mid1_2{
  display: flex;
  align-items: center;
}
.section_exp1 img{
  width: 100%;
}
.section_exp1 .top_2{
  width: 100%;
  text-align: right;
  color: white;
  background-color: orangered;
  padding: 20px 3%;
}
.section_exp1 .mid::-webkit-scrollbar,
.section_exp1 .mid_2::-webkit-scrollbar {
  width: 20px;
  background-color: #7c7c7c;
}
.section_exp1 .mid::-webkit-scrollbar-track,
.section_exp1 .mid_2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.section_exp1 .mid::-webkit-scrollbar-thumb,
.section_exp1 .mid_2::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.section_exp1 .mid::-webkit-scrollbar-button,
.section_exp1 .mid_2::-webkit-scrollbar-button {
  background-color: #3f3f3f;
}
.section_contact{
  color: white;
  font-size: 20px;
  text-shadow: #000 -2px 2px;
  background-image: url('img/fondo-contacto.jpg');
  background-repeat: no-repeat;
  background-size: cover cover;
  background-position: center center;
  padding: 150px 10%;
}
.section_contact h3{
  font-size: 48px;
  margin-bottom: 40px;
}
.section_contact .row{
  display: flex;
  align-items: center;
}
.section_contact .mas_t{
  margin-top: 10%;
}
.section_contact ul{
  list-style: none;
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
}
.section_contact ul li a{
  display: inline-block;
  background: #201e1f;
  padding: 10px 20px;
  border-radius: 100%;
  color: white;
  font-size: 24px;
}
.section_contact ul li a:hover{
  background-color: #5e5f5f;
}
.section_contact .der form{
  display: flex;
  flex-wrap: wrap;
  background: rgba(76,76,76,1);
  background: rgba(212,212,212,1);
  background: -moz-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(148,148,148,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 40%, rgba(0,0,0,1) 53%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,212,212,1)), color-stop(12%, rgba(148,148,148,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(40%, rgba(71,71,71,1)), color-stop(53%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(148,148,148,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 40%, rgba(0,0,0,1) 53%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(148,148,148,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 40%, rgba(0,0,0,1) 53%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(148,148,148,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 40%, rgba(0,0,0,1) 53%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: linear-gradient(to bottom, rgba(212,212,212,1) 0%, rgba(148,148,148,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 40%, rgba(0,0,0,1) 53%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#131313', GradientType=0 );
  padding: 40px;
  border-radius: 20px;
}
.section_contact .der form input,
.section_contact .der form textarea{
  width: 100%;
  padding: 5px;
}
.section_contact .der form input[type="submit"]{
  background: orangered;
  color: white;
}
.bg{
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  width:100vw;
  height:200vh;
  background-image: url('img/scroll/Fondo.jpg');
}
.box-section3{
width: 100%;
position: fixed;
overflow: hidden;
  height: 100%;
  background-image: url('img/scroll/Fondo.jpg');
}
.box-section3 .img1{
  position: absolute;
  width: 80%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.box-section3 .nubes{
  position: absolute;
  width: 100%;
}
.sect_1{
  background-image: url('img/scroll/Fondo1.png');
}
.sect_2{
  background-image: url('img/scroll/Fondo2.png');
}
.sect_3{
  background-image: url('img/scroll/Fondo3.png');
}
.sect_4{
  background-image: url('img/scroll/Fondo4.png');
}

.sect_1,
.sect_2,
.sect_3,
.sect_4{
  background-size: contain contain;
  background-position: center;
  background-repeat: no-repeat;
}
.volver_home{
  position: absolute;
  display: inline-block;
  padding: 15px 25px;
  border: none;
  background: yellow;
  color: black;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}
.volver_home:hover{
  background: orangered;
  color: white;
}